openapi: 3.2.0
info:
  title: Microsoft Bookings API (Microsoft Graph) Staff Members API
  description: Minimal OpenAPI definition for the Microsoft Bookings API exposed via Microsoft Graph for managing booking businesses, services, staff members, customers, custom questions, and appointments.
  version: v1.0
  x-generated-from: https://learn.microsoft.com/en-us/graph/api/resources/booking-api-overview
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- bearerAuth: []
tags:
- name: Staff Members
paths:
  /solutions/bookingBusinesses/{id}/staffMembers:
    parameters:
    - $ref: '#/components/parameters/BusinessId'
    get:
      tags:
      - Staff Members
      summary: List staff members
      operationId: listStaffMembers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
    post:
      tags:
      - Staff Members
      summary: Create staff member
      operationId: createStaffMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '201':
          description: Created
components:
  schemas:
    GenericObject:
      type: object
      additionalProperties: true
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
  parameters:
    BusinessId:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
